@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

.bar {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 6%;
    background-color: #4f84c4;
    z-index: 10;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.search {
    float: right;
    margin: 8px;
}

.logo {
    float: left;
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    padding-left: 10px;
    margin-top: 5px;
}

img {
    margin-right: 14px;
    margin-bottom: 3px;
}
