@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

.searchHome {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-right: 40px;
}

.github {
    float: right;
    font-size: 18px;
    font-weight: bold;
    padding-top: 4px;
    letter-spacing: 1px;
    margin-right: 20px;
}

.gitlink:link, .gitlink:visited, .gitlink:hover, .gitlink:active {
    color: #ffffff;
    text-decoration: none;
}

.searchSumm {
    height: 50px;
}

.searchSumm:focus {
    font-size: 24px;
}

.searchSumm::-webkit-input-placeholder {
    font-size: 24px;
}

.searchSumm::-moz-placeholder {
    font-size: 24px;
}

.regionSelect {
    height: 50px;
    font-size: 24px;
}

.searchButton {
    width: 100%;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
}

.title {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#large-header {
    font-family: 'Cabin', sans-serif;
    font-size: 76px;
    font-weight: bold;
    color: #e94b3c;
}

#sub-header {
    font-family: 'Cabin', sans-serif;
    font-size: 28px;
    color: #a0a0a0;
}
