input[type="text"] {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    font-weight: lighter;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
}

.btn {
    width: 100px;
    font-size: 16px;
    background-color: #004b8d;
}
